In [1]:
import pandas as pd
import hashlib
import uuid

In [2]:
df=pd.read_csv(' Hidden for security reasons :( ')
del df['ID Number']
del df['Location']
del df['Device']
del df['Timestamp']

In [3]:
df.head(10)

                   Name Entry
0        Paige Richmond   Yes
1         Marcos Corona   Yes
2       Julissa Sanchez   Yes
3       Julissa Sanchez    No
4          Omid Saatsaz   Yes
5         Eddie Venegas   Yes
6         Diego Cardiel   Yes
7             Rudy Razo   Yes
8  Alexandria Henderson   Yes
9            Wilson Kim   Yes

In [4]:
print('Rows: '+ str(len(df['Name']))+' Unique Names: '+str(len(df['Name'].unique())))

Rows: 1421442 Unique Names: 30389

In [5]:
#generate salt
saltkey=uuid.uuid4().hex

In [6]:
def encrypt(name):
    salt=saltkey # remains the same on each data frame, acts as key
    return hashlib.sha256(salt.encode() + name.encode()).hexdigest()

In [7]:
hashed = []
for i in df['Name']:   
    hashed.append(encrypt(i))

In [8]:
df['Name']=hashed
df.head(10)

                                                Name Entry
0  771584ee25007d87f89df7ebc92e3fd8b100db4bf40489...   Yes
1  c180448570a721632c8ad71531c029c6e58b8b5abfb240...   Yes
2  08a3c423f21b7d4160e89f7a7a4559e4893471310fff4b...   Yes
3  08a3c423f21b7d4160e89f7a7a4559e4893471310fff4b...    No
4  40984315614a91bf735361d5c0d0277a04af973346404c...   Yes
5  f969f84c9afdc601926f41655a29edc474cd274efd531f...   Yes
6  3c4e8b077e26326571d735094cdef974f0a5a7aa4a206e...   Yes
7  058f3c92943db6132bfb7510110214e2ad974815b5e27b...   Yes
8  3ce156bcebb2d90319ff839c73af939452b1c21a30277d...   Yes
9  affa123ff1487292a9077d3a1d9a500de8b16039d1b053...   Yes

In [9]:
print('Rows: '+ str(len(df['Name']))+' Unique Names: '+str(len(df['Name'].unique())))

Rows: 1421442 Unique Names: 30389

In [ ]:
# If salt is different on a similar dataframe, uniqueness will be lost.
# and comparisons cannot be made between the other data frame.
# Saltkey must be saved somehow.